<! DOCTYPE html>
<html>
<head>

</head>
<body>
  <h1>Hello World</h1>
  <div id='login'>
    <form method='POST' action='/home/login'>
      {% csrf_token %}
      <input type='text' placeholder='e-mail' name='user' />
      <input type='password' placeholder='Password' name='pwd' />
      <button type='submit'>Login</button>
    </form>
  </div>
  <div id='register'>
    <form method='POST' action='/home/register'>
      {% csrf_token %}
      <input type='text' placeholder='First Name' name='first_name'/>
      <input type='text' placeholder='Last Name' name='last_name' />
      <input type='text' placeholder='e-mail' name='email' />
      <input type='password' placeholder='Password' name='pwd' />
      <input type='password' placeholder='Confirm Password' name='pwd2' />
      <button type='submit'>Create</button>
    </form>
  </div>
</body>
</html>
